[submodule "plugins/ctb"]
	path = plugins/ctb
	url = ../df-plugin-ctb.git
[submodule "plugins/sdcp-v3"]
	path = plugins/sdcp-v3
	url = ../df-plugin-sdcp-v3.git
[submodule "plugins/anycubic"]
	path = plugins/anycubic
	url = ../df-plugin-anycubic.git
[submodule "plugins/elegoo"]
	path = plugins/elegoo
	url = ../df-plugin-elegoo
[submodule "plugins/sirayatech"]
	path = plugins/sirayatech
	url = https://github.com/Open-Resin-Alliance/df-plugin-sirayatech
[submodule "plugins/lys-import"]
	path = plugins/lys-import
	url = https://github.com/Open-Resin-Alliance/df-plugin-lys
[submodule "rust/dragonfruit-openvdb-sys/vendor/tbb"]
	path = rust/dragonfruit-openvdb-sys/vendor/tbb
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "rust/dragonfruit-openvdb-sys/vendor/imath"]
	path = rust/dragonfruit-openvdb-sys/vendor/imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "rust/dragonfruit-openvdb-sys/vendor/openvdb"]
	path = rust/dragonfruit-openvdb-sys/vendor/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
