[submodule "plugins/ctb"]
	path = plugins/ctb
	url = ../df-plugin-ctb.git
[submodule "plugins/sdcp-v3"]
	path = plugins/sdcp-v3
	url = ../df-plugin-sdcp-v3.git
[submodule "plugins/elegoo"]
	path = plugins/elegoo
	url = ../df-plugin-elegoo
